@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 69% 97%;
    --foreground: 237 100% 4%;

    --card: 0 0% 100%;
    --card-foreground: 237 100% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 237 100% 4%;

    --primary: 242 48% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 45% 96%;
    --secondary-foreground: 242 48% 58%;

    --muted: 0 0% 100%;
    --muted-foreground: 216 15% 57%;

    --accent: 0 0% 100%;
    --accent-foreground: 237 100% 4%;

    --destructive: 0 78% 63%;
    --destructive-foreground: 0 0% 100%;

    --border: 221 69% 94%;
    --input: 216 15% 57%;
    --ring: 0 0% 3.9%;

    --skeleton: 60 4.8% 95.9%;

    --column: 180deg, #e9effa 0%, rgba(233, 239, 250, 0.5) 100%;

    --radius: 0.5rem;

    --sidebar-width: 16rem;
  }

  .dark {
    --background: 235 16% 15%;
    --foreground: 0 0% 100%;

    --card: 235 12% 19%;
    --card-foreground: 0 0% 100%;

    --popover: 235 12% 19%;
    --popover-foreground: 0 0% 100%;

    --primary: 242 48% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 242 48% 58%;

    --muted: 235 12% 19%;
    --muted-foreground: 216 15% 57%;

    --accent: 235 12% 19%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 78% 63%;
    --destructive-foreground: 0 0% 100%;

    --skeleton: 240 3.7% 15.9%;

    --column: 180deg, rgba(43, 44, 55, 0.25) 0%, rgba(43, 44, 55, 0.13) 100%;

    --border: 236 11% 27%;
    --input: 216 15% 57%;
    --ring: 0 0% 83.1%;
  }
}

@media (min-width: 64rem) {
  :root {
    --sidebar-width: 20rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
